
* {
    margin: 0;
    padding: 0;
}

nav, main, footer {
    background: #1f2937;
    color: #f9faf8;

}

button, .call {
    background: #3882f6;
}

ul {
    list-style-type: none;
}

.title {
   font-size : 48px;
}

nav , main, section{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid black;
    height: 50px;
}

.headerlogo{
    font-size: 24px;
    color: #f9faf8;
    border: 1px solid black;

}

.links-container{
    flex: display;
    border: 1px solid black;
}

.headerlink {
    justify-content: space-around;
    border: 1px solid black;
    font-size: 18px;
    color: #e5e7eb;
}

.middle-row {
    justify-content: space-between;
}